# Configuration file

enabled {
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"forestry:ash_brick"=true
    B:"forestry:planks.0"=true
    B:"forestry:planks.1"=true
    B:"forestry:planks.fireproof.0"=true
    B:"forestry:planks.fireproof.1"=true
    B:"immersiveengineering:treated_wood"=true
    B:"natura:nether_planks"=true
    B:"natura:overworld_planks"=true
    B:"plants2:planks"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


